<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.iuaenasong.oj.mapper.ExamProblemMapper">
    <select id="getExamProblemList" resultType="com.iuaenasong.oj.pojo.vo.ExamProblemVo">
        select ep.id,ep.display_id,ep.eid,ep.pid,ep.display_title,ep.score,p.io_score,
        (select count(*) from exam_record
        <where>
            epid=ep.id and eid=ep.eid and pid=ep.pid and status != 1
            <if test="adminList != null and adminList.size > 0">
                and uid NOT IN
                <foreach collection="adminList" index="index" item="item"
                         open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>

            <choose>
                <when test="isAdmin">
                    AND submit_time >= #{startTime} AND #{endTime}>submit_time
                </when>
                <otherwise>
                    AND false
                </otherwise>
            </choose>
        </where>
        ) as error,
        (select count(distinct uid, epid) from exam_record
        <where>
            epid=ep.id and eid=ep.eid and pid =ep.pid and status = 1
            <if test="adminList != null and adminList.size > 0">
                and uid NOT IN
                <foreach collection="adminList" index="index" item="item"
                         open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
            <choose>
                <when test="isAdmin">
                    AND submit_time >= #{startTime} AND #{endTime}>=submit_time
                </when>
                <otherwise>
                    AND false
                </otherwise>
            </choose>
        </where>
        ) as ac
        from exam_problem ep,problem p
        where ep.eid = #{eid} and ep.pid=p.id and p.auth!=2 order by ep.display_id asc
    </select>
</mapper>
