<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.iuaenasong.oj.mapper.ExamMapper">
    <select id="getExamRegisterCount" resultType="com.iuaenasong.oj.pojo.vo.ExamRegisterCountVo">
        SELECT er.eid as eid,COUNT(*) as count FROM exam_register er,contest e
        <where>
            er.eid = e.id
            AND e.id in
            <foreach collection="eidList" item="eid" open="(" separator="," close=")">
                #{eid}
            </foreach>
        </where>
        GROUP BY er.eid
    </select>

    <select id="getExamInfoById" resultType="com.iuaenasong.oj.pojo.vo.ExamVo" useCache="true">
        select e.id,e.author,e.title,e.status,e.description,e.real_score,
        e.source,e.auth,e.start_time,e.end_time,e.duration,e.rank_show_name,e.rank_score_type,e.gid
        from exam e where e.id = #{eid} and e.visible=true
    </select>
</mapper>
